:root {
  --duoc-navy: #0b2b45;
  --duoc-blue: #003a70;
  --duoc-yellow: #ffcc00;
}

/* Mapear colores a Ionic */
:root {
  --ion-color-primary: var(--duoc-blue);
  --ion-color-primary-contrast: #ffffff;
  --ion-color-warning: var(--duoc-yellow);
}
